* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: white;
  font-family: sans-serif;
}
.container {
  background: linear-gradient(rgb(74, 154, 151), rgb(32, 111, 108));
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 50% 50%;
  position: relative;
}
.profile {
  width: 20vw;
  height: 20vw;
  background: rgb(92, 156, 154);
  border-radius: 50%;
}
.profile img {
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  object-fit: cover;
  margin: 2vw;
}
.icon{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 3rem;
    height:3rem;
    background-color: white;
    border-radius: 50%;
    
}
.icon i {
  font-size: 1.4rem;
  text-align: center;
  margin: 0.8rem;
  color: rgb(32, 111, 108);
}
.container h1 {
  font-size: 1.5rem;
  margin: 1ch;
}
